body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1d211e;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
}

nav {
    margin: 50px 0;
    background-color: #e67c1f;
}

nav ul {
    padding: 0;
    margin: 0;
    position: relative;
}

li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0 10px;
    font-size: 20px;
    line-height: 60px;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #e67c1f;
    margin: 10px -85px;
}

nav ul li:hover > ul {
    display: inline-block;

}

nav ul ul ul {
    margin: -70px 94px;
}

nav ul ul li:hover {
    background-color: #000;
}

nav ul ul li {
    width: 170px;
    display: block;
}

nav ul ul ul li {
    position: relative;
}

li:nth-child(3) > a::after {
    content: '+';
}



